$primary-0: rgba(15, 18, 14, 0.17);
$primary-1: rgba(34, 37, 28, 0.17);
$primary-2: rgba(53, 56, 41, 0.17);
$primary-3: rgba(72, 75, 55, 0.17);
$primary-4: rgba(91, 94, 69, 0.17);
$primary-5: rgba(110, 113, 83, 0.17);
$primary-6: rgba(129, 132, 96, 0.17);
$primary-7: rgba(148, 151, 110, 0.17);
$primary-8: rgba(167, 170, 124, 0.17);
$primary-9: rgba(186, 189, 137, 0.17);