@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

:root {
  --opacity-level: .99
}

.opacity-dynamic {
  opacity: var(--opacity-level);
}
