:root {
  --tan: #DFBE99;
  --tan-bg: rgba(223, 190, 153, 0.15);
  --sage: #B5BD89;
  --sage-bg: rgba(181, 189, 137, 0.85);
  --moonstone-bg: rgba(114, 158, 161, 0.15);
  --moonstone: #729EA1;
  --coral: #EC9192;
  --blush: #DB5375;
  --gold: #FCA311;
  --green: #063620;
  --blackish: #16171A;
  --dark-grey: #484c56;
  --grey: #a4a4a4;
  --whitish: #e1dcd6;
  --background-color-0: rgb(15, 18, 22);
  --background-color-1: rgb(23, 27, 32);
  --background-color-2: rgb(31, 36, 42);
  --background-color-3: rgb(39, 45, 52);
  --background-color-4: rgb(47, 54, 62);
  --background-color-5: rgb(55, 63, 72);
  --background-color-6: rgb(63, 72, 82);
  --background-color-7: rgb(71, 81, 92);
  --background-color-8: rgb(79, 90, 102);
  --background-color-9: rgb(87, 99, 112);
  --primary-0: rgba(15, 18, 14, 0.17);
  --primary-1: rgba(34, 37, 28, 0.17);
  --primary-2: rgba(53, 56, 41, 0.17);
  --primary-3: rgba(72, 75, 55, 0.17);
  --primary-4: rgba(91, 94, 69, 0.17);
  --primary-5: rgba(110, 113, 83, 0.17);
  --primary-6: rgba(129, 132, 96, 0.17);
  --primary-7: rgba(148, 151, 110, 0.17);
  --primary-8: rgba(167, 170, 124, 0.17);
  --primary-9: rgba(186, 189, 137, 0.17);
  --text-color: #f2f2f2;
  --accent-text: var(--sage);
  --clamp-min: 40px;
  --clamp-max: 611px;
  --z: 5px;
  --time: 2s;
  --height: 35px;
  --font: 20px;
  --border-color: #fff1;
  --border-radius: 0.5rem;
  --border-radius-comfy: 0.8rem;
  --border-radius-emphasis: 2rem;
  --background-gradient: linear-gradient(to right bottom, var(--background-color-0), var(--background-color-1) 30%, var(--background-color-0));
  --name-gutter: 10rem;
  --aside-nav: 20rem;
  --box-shadow-background: var(--background-color-0);
  --shadow: 0.2rem 0.15rem var(--box-shadow-background);
  --primary: #8cff00;
  --timeline: #696969;
  --card: linear-gradient(45deg, var(--primary-4), var(--primary-2) 30%, var(--primary-2), var(--primary-2));
  --call-to-action: linear-gradient(90deg, var(--sage), var(--sage-bg) 60%, var(--sage));
}

@media (prefers-color-scheme: light) {
  :root {
    --whitish: rgb(238, 233, 227);
    --background-color-0: #fefdfb;
    --background-color-1: #f9f8f6;
    --background-color-2: #f4f3f1;
    --background-color-3: #efeeec;
    --background-color-4: #eae9e7;
    --background-color-5: #e5e4e2;
    --background-color-6: #e0dfdd;
    --background-color-7: #dbdad8;
    --background-color-8: #d6d5d3;
    --background-color-9: #d1d0ce;
    --box-shadow-background: var(--moonstone);
    --text-color: var(--blackish);
    --tan-bg: #fff1d9;
    --sage-bg: #ffffd6;
    --moonstone-bg: rgb(241, 249, 255);
    --background-gradient: linear-gradient(to right bottom, var(--background-color-1), var(--background-color-3) 30%, var(--background-color-0));
    --sage: #ecff6d;
    --moonstone: #253434;
    --accent-text: var(--moonstone);
    --border-color: #0001;
    --call-to-action: linear-gradient(90deg, var(--sage), var(--sage) 60%, var(--sage));
    --card: var(--background-color-4);
  }
}

body {
  color: var(--text-color);
}

* {
  font-family: "Maple Mono", Tahoma, serif;
}

.text-highlight {
  font-style: normal;
  border-radius: 1em 0 1em 0;
  text-shadow: 1px 1px 1px #fff;
  background-image: linear-gradient(-100deg,
          #ecff6d23,
          #ecff6daa 100%,
          #ecff6d25
  );
}

a:hover {
  text-decoration: underline;
}


$color-mode-type: media-query;
$theme-colors: (
        info: #DFBE9950,
        success: #8cff0050,
        primary: rgba(255, 136, 0, 0.77),
        emphasis: #EC919250,
        danger: #DB537550,
        warning: #FCA31150
);
$bs-theme-colors: (
        info: #DFBE99,
        success: #B5BD89,
        primary: #729EA1,
        emphasis: #EC9192,
        danger: #DB5375,
        warning: #FCA311
);
/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

.sm-text {
  font-size: small;
}

html, body, #root, #root > div {
  height: 100%;
  background-color: var(--background-color-0);
}

svg {
  color: var(--accent-text);
}

.blush {
  background-color: var(--blush);
}

.coral {
  background-color: var(--coral);
}

