:root {
  --tan: #DFBE99;
  --tan-bg: rgba(223, 190, 153, 0.15);
  --sage: #B5BD89;
  --sage-bg: rgba(181, 189, 137, 0.17);
  --moonstone-bg: rgba(114, 158, 161, 0.15);
  --moonstone: #729EA1;
  --coral: #EC9192;
  --blush: #DB5375;
  --gold: #FCA311;
  --green: #063620;
  --blackish: #16171A;
  --dark-grey: #484c56;
  --grey: #a4a4a4;
  --whitish: #e1dcd6;
  --background-color-0: rgb(25, 28, 32);
  --background-color-1: rgb(25, 28, 32);
  --background-color-2: rgb(30, 33, 39);
  --text-color: #fff;
  --accent-text: var(--sage);
  --clamp-min: 40px;
  --clamp-max: 611px;
  --z: 5px;
  --time: 2s;
  --height: 35px;
  --font: 20px;
  --border-radius: 0.2rem;
  --background-gradient: linear-gradient(to left bottom, var(--sage-bg), var(--background-color-0), var(--background-color-0), var(--moonstone-bg));
  --name-gutter: 10rem;
  --box-shadow-background: var(--background-color-0);
  --shadow: 0.2rem 0.15rem var(--box-shadow-background);
  --primary: #8cff00;
}

@media (prefers-color-scheme: light) {
  :root {
    --whitish: rgb(238, 233, 227);
    --background-color-0: #fff;
    --background-color-1: #fefdfb;
    --background-color-2: #f7f4e9;
    --box-shadow-background: var(--moonstone);
    --text-color: var(--blackish);
    --tan-bg: #fff1d9;
    --sage-bg: #ffffd6;
    --moonstone-bg: rgb(241, 249, 255);
    --background-gradient: linear-gradient(to left bottom, var(--sage-bg), var(--background-color-0), var(--background-color-0), var(--moonstone-bg));
    --sage: #ecff6d;
    --moonstone: #253434;
    --accent-text: var(--moonstone);
  }
}

body {
  color: var(--text-color);
}

* {
  font-family: "Maple Mono", Tahoma, serif;
}

$color-mode-type: media-query;
$theme-colors: (
        info: #DFBE99,
        success: #8cff00,
        primary: #8cff00,
        emphasis: #EC9192,
        danger: #DB5375,
        warning: #FCA311
);
$bs-theme-colors: (
        info: #DFBE99,
        success: #B5BD89,
        primary: #729EA1,
        emphasis: #EC9192,
        danger: #DB5375,
        warning: #FCA311
);
/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

.text-highlight {
  font-style: normal;
  border-radius: 1em 0 1em 0;
  text-shadow: 1px 1px 1px #fff;
  background-image: linear-gradient(-100deg,
          #ecff6d23,
          #ecff6daa 100%,
          #ecff6d25
  );
}
